<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title> Rohan's page </title>
</head>

<body bgcolor="black">
	<h1 style="text-align:center; color:blue">Send courses to email</h1>
	<br><br>
	<form action="/sendEmail" style="text-align:center">
			<label style="color:white"> Enter email </label>
			<input type="email" name="email" />
			<input type="submit" value="send" />
	</form>
</body>

</html>